body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.carousel {
  position: relative;
  width: 70%;
  max-width: 800px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 33.33%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 80%;
  height: 250px;
  border-radius: 10px;
}

.carousel-item.active {
  opacity: 1;
  height: 300px;
  transform: scale(1);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
